.addcourse, .updatecourse{
    width: 80%;
    margin: auto;
}
h2{
    color: #333;
}
form{
    margin-bottom: 20px;
}

input[type = text],textarea{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}
input[type = submit],[type = reset]{
    margin-top: 10px;
    padding: 10px 20px; 
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

table{
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;

}
table,th,td{
    border: 1px solid black;
}
th,td{
    padding: 10px;
    text-align: left;
}
.action-buttons{
    display: flex;
    gap: 10px;
}
.edit-btn, .delete-btn{
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}
.delete-btn{
    background-color: red;
}
